{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-5">Lista de Productos</h1>

    <!-- Formulario de filtro -->
    <form method="get" action="{% url 'list' %}" class="mb-4">
        <div class="form-group d-flex justify-content-between">
            <label for="category" class="mr-2">Filtrar por categoría:</label>
            <select name="category" id="category" class="form-control">
                <option value="">Selecciona una categoría</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == selected_category %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
            
        </div>
        <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
    </form>

    <!-- Mostrar productos -->
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{% url 'detalles' id=product.id %}" class="btn btn-primary">Detalles</a>
                </div>
            </div>
        </div>
        {% empty %}
        <li class="list-group-item">No hay productos disponibles en esta categoría.</li>
        {% endfor %}
    </div>
</div>
{% endblock %}
