<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script> <!-- CDN de TailwindCSS -->
</head>
<body class="bg-gray-100 font-sans">

    <!-- Contenedor principal -->
    <div class="max-w-4xl mx-auto mt-10 p-5 bg-white shadow-lg rounded-lg">

        <!-- Título -->
        <h1 class="text-3xl font-semibold text-center text-gray-800">Bienvenido al Dashboard</h1>

        <!-- Descripción -->
        <p class="mt-4 text-center text-gray-600">Desde aquí podrás navegar a las diferentes secciones de la tienda y explorar nuestros productos.</p>

        <!-- Botón de navegación -->
        <div class="mt-8 text-center">
            <a href="{% url 'list' %}" class="inline-block bg-indigo-600 text-white text-xl font-semibold py-3 px-8 rounded-full hover:bg-indigo-500 transition duration-100">
                Ver catálogo de productos
            </a>
            <a href="{% url 'edit_profile' %}" class="inline-block bg-indigo-600 text-white text-xl font-semibold py-3 px-8 rounded-full hover:bg-indigo-500 transition duration-100">
                Editar perfil
            </a>

        </div>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    </div>

</body>
</html>
